/* Rock Salt: Logo */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* DM Sans: Body */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: var(--color-bg);
  color: var(--color-text);

  font-family: var(--font-body);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: min(
    calc(100% - 3rem),
    var(--container-width)
  );

  margin-inline: auto;
}
